@charset "UTF-8";

#bjlogo{
    width: 145px;
    display: block;
    margin: left;
    padding: 24px;
}

body{
    background-color: #ecf0ec;
}

h1{
    text-align: center;
    text-shadow: 1px 1px 2px #13293db0;
    color: #005724;
    font: bold 45px cursive;
}
h2{
    text-align: center;
    text-shadow: 1px 1px 2px #13293db0;
    color: #005724;
    font: bold 31px cursive;
}

h3{
    text-align: center;
    text-shadow: 1px 1px 2px #364702;
    color: #005724;
    font: bold 22px cursive;
}

p{
    text-align: justify;
    font: normal 17px arial;
}

li{
    text-shadow: 1px 1px 2px #525a61b0;
    color: #003a18;
    font: normal 17px cursive;
}

#par{
    font: bold 17px arial;
    text-align: justify;
}

#container1, #container2{
    background-color: #73912163;
    border-radius: 19px;
    margin: auto;
    padding: 20px;
    width: 63%;
}

#plan1{
    margin-left: 30px;
}